*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    object-fit: cover;
}
ul{
    list-style: none;
}
.your-order{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}
.your-order p{
    color: #B88987;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    font-family: Roboto,sans-serif;
    height: 100%;
  margin-top: 10px;

   
   text-align: center;
}
.header-logo-column{
    background-color: #E6E1D6;
    padding: 20px 0;
    position: relative;
}
.content-img-column{
    background-image: url('./img/header.logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.content-img-column button{
    background-color: #E6E1D6;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 1px;
    font-weight: normal;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 25px ;
    border: 1px solid #E6E1D6;
}
.shadowed{
    position: absolute;
    left: -300px;
    height: 100vh;
    width: 0;
    transition: 2s;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 12;

}
.header-menu{

    /* position: absolute;   */
    left: -300px;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;
    z-index: 12;

}
.header-menu ul li a{
    text-decoration: none;
   
}
.shadow-opened{
    width: 100%;
    left: 0;
    transition: 1.5s;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 12;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.menu-opened{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 300px;
    transition: 3s;
    background-color:aliceblue;
    z-index: 15;
    font-size: 40px;
    line-height: 32px;
    font-weight: 700;
}
.menu-opened ul li a{
    text-decoration: none;
    color: #B88987 !important;

  

}
.menu-opened ul li{
    margin: 15px 0;
}
.cancel-button{
    background-color: transparent;
    color: #E6E1D6;
    font-weight: 700;
    font-size: 45px;
    line-height: 22px;
    border: none;
   
}
.cancel-button .angle-right{
    animation-name: angle;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-delay: 0.6xs;
}
#search{
    height: 40px;
    /* position: relative; */

}
#search .first-input{
    background-color: #f9f9f9;
    height: 100%;
    width: 80%;
    border-right: 0;
    outline: none;
}
#search button{
    width: 25%;
    background-color:  #E6E1D6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0;
    font-size: 20px;

}
@keyframes angle {
    50%{
        left: 30%;
        transform: translateX(-30%);
    }
    100%{
        left: -30%;
        transform: translateX(30%);
    }
}
.Row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-div{
  margin-left: 30px;
}
#input{
    width: 100% !important;
}
.inputgroup{
    border-radius: 0px !important;
    border-color: black;
    border-right: 0px ;
   
}
.secondary-button{
    border-radius: 0px !important;
    border-left:0px !important ;
    border-color: black !important;
}







.inputgroup-closed{
    position: absolute;
    display: none;
    opacity: 0;
    top: 4rem;
    right: 0;
    padding: 20px;
    border: 0;
    transition: 0.5s;
}
.box{
    position: absolute;
    top: -4rem;
    opacity: 0;
    right: 0px;
    width: 100% !important;
    opacity: 0;
    border-bottom: 1px solid black !important;
    color: #000;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 12;
    transition: .6s;
    display: flex;
    text-align: center;

}


@media only screen and (max-width:768px){
    #search .first-input{
        display: none;       
    }
    #search button{
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        border: none;
    }
        .box-opened{
            display: flex;
            text-align: center;
            transition: .8s;
            opacity: 1;
            outline: none;
            background-color: rgb(255, 255, 255);
            padding: 20px 0;
        }
        .secondary-button{
            border-left: 1px solid !important;
        }
        .header-logo-img img{
            width: 70%;
        }
    
}